
.login-page {
    height: 100vh;
    text-align: center;
}
.header__logo {
    display: inline-block;
    width: 169px;
    height: 42px;
    background-image: url(../images/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 60px;
}
.link {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #42A5F5;
    display: block;
    margin-top: 22px;
}
.link:hover {
    color: #0077C1;
}
.icon {
    color: #646464;
    font-size: 12rem;
}
.login-page h2 {
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #474747;
    margin-top: 60px;
}
.custom-num-input {
    background-color: #f5f5f5;
    border-radius: 5px 5px 0 0;
    width: 169px;
    display: inline-block;
    padding: 18px 12px;
    border-bottom: 2px solid #0077C1;
    margin-top: 25px;
}
.input-message {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    color: #646464;
    margin-top: 4px;
}
.custom-num-input, .custom-num-input input[type="number"] {
    font-weight: normal;
    font-size: 18rem;
    line-height: 21px;
    color: #646464;
}
.custom-num-input input[type="number"] {
    -moz-appearance: textfield;
    border: none;
    width: 100px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #646464;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.login-page p {
    font-weight: 300;
    font-size: 18rem;
    line-height: 21px;
    color: #646464;
    max-width: 448px;
    margin: 0 auto 30px;

}
.login-page button[type="submit"] {
    background-color: #0077C1;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    padding: 20px 30px;
    border-radius: 3px;
    text-transform: uppercase;
    margin-bottom: 15px;
    transition: .1s linear;
}
.login-page button[type="submit"]:hover {
    background-color: #42A5F5;
}
.login-page p a {
    color:  #42A5F5;
}
.login-page p a:hover {
    color: #0077C1;
}
.recaptcha {
    width: 315px;
    height: 69px;
    background-color: #dadada;
    margin: 25px auto;
    font-size: 15rem;
}
.sms-confirm form {
    padding: 0 20px 30px;
}
.sms-confirm.login-page button[type="submit"] {
    margin-top: 25px;
}

@media (max-width: 370px) {
    .recaptcha {
        width: 100%;
    }

  .login-page {
    padding: 20px;
  }
  .header__logo {
    margin-top: 0;
  }
  .link {
      margin-top: 10px;
  }
  .login-page h2 {
    margin-top: 15px;
    font-size: 25px;
  }
  .login-page p {
      font-size: 14rem;
  }
}