.wrapper {
  max-width: 1320px;
  padding: 0 48px;
  margin: 0 auto;
}


.header {
  padding: 39px 0 15px;
  display: flex;
  justify-content: space-between;
}

.header__overlay {
  display: flex;
  align-items: flex-end;
}

.header__logo {
  display: block;
  width: 169px;
  height: 42px;
  background-image: url(../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 26px;
  transition: .5s cubic-bezier(0.76, -0.37, 0.38, 0.85);
  right: 0;
  position: relative;
}

.header__top-nav ul {
  display: flex;
  padding-bottom: 5px;
}

ul.header__mobile-links,
.header__hamburger {
  /* display: contents; */
  display: none;
}



.header__top-nav ul li {
  display: contents;
}

.header__top-nav ul li a {
  display: block;
  padding: 0 11px 0 10px;
  font-size: 18rem;
  line-height: 21px;
  color: #000000;
}
.header__top-nav ul li a:hover {
  color: #9B2335;
}

.header__right-block {
  align-items: unset;
  align-self: flex-end;
  padding: 0 25px 5px 0px;
}

.header__right-block a {
  font-size: 18rem;
  line-height: 21px;
  color: #9B2335;
  font-weight: 300;
  margin-left: 35px;
}
.header__right-block a:hover {
  color: #000;
}

a.header__right-block-phone {
  font-size: 22rem;
  line-height: 26px;
}

.icon-book {
  margin-right: 10px;
}

.icon-login {
  margin-right: 4px;
}

/*  ----------------- Slider -----------------  */
.main-carousel {
  max-width: 100%;
}

.carousel-cell {
  width: 100%;
  height: 480px;
  margin-right: 10px;
}

.flickity-button {
  background: transparent;
}

.carousel__overlay {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-color: #000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.carousel__img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
}


.carousel__text {
  width: 430px;
  font-weight: 300;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  justify-content: flex-end;
  color: #FFFFFF;
  padding-right: 63px;
  position: relative;
  z-index: 1;
}

.carousel__text-inner {
  text-align: center;
}



.custom-radio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-radio>div {
  position: relative;
  padding: 10px 0;
}

.custom-radio label {
  background-color: #dadada;
  padding: 10px;
  font-size: 24rem;
  line-height: 28px;
  font-weight: 300;
  color: #646464;
  position: relative;
  user-select: none;
  cursor: pointer;
}

.custom-radio label:hover {
  background-color: #d0d0d0;
}

.custom-radio input[type="radio"] {
  position: absolute;
  left: 20px;
}

.custom-radio input:checked~label {
  color: #fff;
  background: #9B2335;
}


.nutrition {
  text-align: center;
}

.nutrition h2 {
  margin-top: 65px;
}

.buttons {
  margin-top: 18px;
  display: flex;
  justify-content: center;
}

.nutrition__days {
  margin-top: 3px;
}

.nutrition__value.custom-radio {
  padding: 18px 0 0;
}

.buttons button {
  font-size: 24rem;
  line-height: 28px;
  font-weight: 300;
  color: #646464;
  padding: 10px;
  background-color: #DADADA;
  border: none;
  cursor: pointer;
  transition: .1s linear;
  color: #646464;
}

.buttons button.active,
.buttons button.active:hover {
  color: #fff;
  background: #9B2335;
}

.buttons button:hover {
  background-color: #c7c7c7;
}

.nutrition__days span {
  width: 95px;
  background: #DADADA;
  text-align: right;
  font-weight: 300;
  font-size: 14rem;
  line-height: 16px;
  padding: 8px 11px 8px 9px;
  color: #646464;
}

.nutrition h3 {
  margin-top: 41px;
  font-size: 24rem;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 500;
}

.nutrition h4 {
  margin-top: 15px;
  font-weight: normal;
  font-size: 18rem;
  line-height: 21px;
}

.nutrition p {
  font-weight: 300;
  font-size: 16rem;
  line-height: 19px;
  color: #646464;
  margin: 7px 0 21px;
}

p.price {
  font-weight: 300;
  font-size: 20rem;
  line-height: 23px;
  color: #474747;
}

.submit {
  font-weight: normal;
  font-size: 18rem;
  line-height: 21px;
  text-align: center;
  background-color: #9B2335;
  color: #FFFFFF;
  padding: 13px 37px;
  border: none;
  cursor: pointer;
  transition: .1s linear;
}

.submit:hover {
  background-color: rgb(138, 32, 48);
}

p.nutrition__info {
  font-weight: 300;
  font-size: 14rem;
  line-height: 16px;
  color: #ADADAD;
  margin: 3px 0;
}


.plan {
  text-align: center;
}

.plan .buttons {
  margin-top: 32px;
}

.plan .custom-radio {
  margin: 28px 0 0;
}

.foods {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.food {
  width: 200px;
  text-align: center;
  margin: 0 6px 25px;
}

.food img {
  margin-top: 18px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.food__number {
  font-weight: normal;
  font-size: 18rem;
  line-height: 21px;
  text-transform: uppercase;
  color: #474747;
}

.food__name {
  font-weight: 300;
  font-size: 16rem;
  line-height: 19px;
  text-transform: uppercase;
  color: #484848;
  margin-top: 1px;
}

.food__components {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 9px;
}

.food__components span {
  font-weight: normal;
  font-size: 12rem;
  line-height: 14px;
  text-transform: uppercase;
  color: #646464;
}

.plan .price {
  margin-top: 20px;
}

.plan .submit {
  margin-top: 20px;
}



.delivery {
  padding-top: 96px;
  text-align: center;
}

.delivery h2 {
  font-weight: normal;
}

.delivery p {
  margin-top: 16px;
  font-weight: 300;
  font-size: 18rem;
  line-height: 21px;
  color: #646464;
}

.color-scheme {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.color-scheme>div {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.color-scheme .green {
  background: #D6ED9E;
  border: 1px solid #92BE54;
}

.color-scheme .orange {
  background: #FFE2BA;
  border: 1px solid #F4AC65;
  margin-left: 24px;
}

.color-scheme span {
  font-weight: normal;
  font-size: 18rem;
  line-height: 21px;
  text-transform: uppercase;
  color: #646464;
}

.delivery .map {
  max-width: 1175px;
  margin: 26px auto 0;
  height: 528px;
}

.delivery .map iframe {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}


.payment {
  text-align: center;
  max-width: 1174px;
  margin: 0 auto;
  padding-top: 63px;
}

.payment h2 {
  font-weight: normal;
  margin-bottom: 9px;
}

.payment h3 {
  font-weight: 300;
  font-size: 24rem;
  line-height: 28px;
  text-transform: uppercase;
  margin: 17px 0 4px;
}

.payment p {
  font-weight: 300;
  font-size: 18rem;
  line-height: 21px;
  color: #646464;
}

.partners {
  display: flex;
  margin-top: 35px;
  justify-content: center;
}

.partners img {
  filter: grayscale(1);
  opacity: 0.7;
  /* height: 20px; */
  margin: 0 10px;
}


.faq {
  text-align: center;
  padding-top: 68px;
}

.faq h2 {
  font-weight: normal;
}

.faq__spoilers {
  margin-top: 30px;
  padding-bottom: 70px;
  box-sizing: content-box;
}

.spoiler {
  width: 732px;
  margin: 0 auto;
  border-bottom: 1px solid #DADADA;
}

.spoiler:last-child {
  border-bottom: none;
}

.spoiler__header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.spoiler__header span {
  font-weight: normal;
  font-size: 20rem;
  line-height: 23px;
  text-transform: uppercase;
  color: #474747;
  text-align: left;
}

.spoiler__header .icon {
  color: #9B2335;
  font-size: 10rem;
  transition: .1s linear;
}

.spoiler__body {
  height: 0;
  overflow: hidden;
  transition: .1s linear;
  text-align: left;
  background-color: #f7f7f7;
  padding: 0 10px;
}

.spoiler.active .spoiler__body {
  padding: 10px;
  height: 70px !important;
  font-size: 14rem;
}

.spoiler.active .icon {
  transform: rotate(-180deg);
}


.footer {
  margin: 16px 25px 0;
  border-top: 2px solid #DADADA;

}

.footer__top {
  border-bottom: 2px solid #DADADA;
  padding: 24px 0 48px;
  display: flex;
  justify-content: space-between;
}

.footer__top ul a {
  font-weight: 300;
  font-size: 16rem;
  line-height: 19px;
  color: #646464;
}

.footer__top ul a:hover {
  color: #9B2335;
}

.footer__get-in-touch {
  text-align: left;
  width: 271px;
}

.footer__phone {
  font-weight: 300;
  font-size: 22rem;
  color: #000;
  line-height: 26px;
}
.footer__phone:hover {
  color: #9B2335;
}
.footer__soc {
  display: flex;
}

.footer__soc a {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 7px 8px 8px 3px;
}
.footer__soc a:hover {
  transform: rotate(2deg);
}
.footer__soc .facebook {
  background-image: url(../images/facebook.svg);
}

.footer__soc .vk {
  background-image: url(../images/vk.svg);
}

.footer__soc .instagram {
  background-image: url(../images/instagram.svg);
}

.footer__email {
  font-weight: normal;
  font-size: 16rem;
  line-height: 19px;
  color: #9B2335;
}
.footer__email:hover {
  color: #000;
}
.footer__copyright {
  font-weight: 300;
  font-size: 12rem;
  line-height: 14px;
  text-align: center;
  color: #646464;
  margin-top: 22px;
}

.footer__bottom span {
  text-align: right;
  display: block;
  font-weight: 300;
  font-size: 10rem;
  line-height: 12px;
  color: #ADADAD;
  margin: 11px 53px;
}


.custom-select {
  display: none;
}
.custom-select p {
  padding-top: 5px;
  margin: 0;
}

.nutrition .custom-select select{
  width: 170px;
}

.custom-select select {
  background: #f5f5f5;
  border: none;
  padding: 18px 35px 18px 38px;
  font-weight: normal;
  font-size: 18rem;
  line-height: 21px;
  color: #646464;
  border-bottom: 1px solid #9B2335;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-select__wrap {
  position: relative;
  display: inline-block;
  
}

.custom-select__wrap:before {
  content: "";
  position: absolute;
  display: inline-block;
  right: 16px;
  top: calc(50% - 8px);
  border: 8px solid transparent; border-top: 8px solid #646464;
}

.custom-select p {
  font-weight: normal;
  font-size: 10rem;
  line-height: 12px;
  align-items: center;
  color: #ADADAD;
}

.nutrition .custom-select {
  margin-top: 23px;
}

.plan .custom-select {
  margin-top: 29px;
}


.privacy-policy {
  width: 100%;
}

.privacy-policy h1 {
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 40px 0;
}

.privacy-policy ul {
  list-style: disc;
  padding-left: 25px;
}

.privacy-policy p {
  margin: 10px 0;
}

.privacy-policy p,
.privacy-policy li {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  color: #646464;
}


@media (max-width: 1200px) {
  .footer__get-in-touch {
    text-align: right;
  }

  .footer__soc {
    justify-content: flex-end;
  }
}

@media (max-width: 1064px) and (min-width: 961px) {
  a.header__right-block-phone {
    font-size: 16rem;
  }

  .header__right-block a {
    font-size: 16rem;
    margin-left: 20px;
  }
}

nav.header__top-nav {
  transition: .5s cubic-bezier(0.76, -0.37, 0.38, 0.85);
}


@media (max-width: 960px) {

  /* #main-wrapper.menu-open  {
        transform: translateX(-263px);
    } */
  #main-wrapper.menu-open .header__top-nav {
    right: 0;
  }

  #toggle-mobile-menu .icon {
    position: relative;
    right: 0;
    transition: .5s cubic-bezier(0.76, -0.37, 0.38, 0.85);
  }

  #main-wrapper.menu-open #toggle-mobile-menu .icon,
  #main-wrapper.menu-open .header .header__logo {
    position: relative;
    right: 263px;
  }

  .wrapper {
    margin: 96px auto 0;
  }

  .header {
    z-index: 8;
    padding: 39px 48px 15px;
    position: fixed;
    background: #fff;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
  }

  .header__hamburger .icon {
    font-size: 20rem;
  }

  .header__right-block {
    display: none;
  }

  ul.header__mobile-links,
  .header__hamburger {
    display: contents;
  }

  .header__overlay {
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .header__top-nav {
    position: fixed;
    right: -270px;
    width: 270px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 39px;
    bottom: 0;
    z-index: 9;
    padding-right: 24px;
  }

  .header__top-nav ul {
    flex-direction: column;
    align-items: flex-end;
  }

  .header__top-nav ul li a {
    font-weight: normal;
    font-size: 28rem;
    line-height: 39px;
    text-transform: uppercase;
    color: #F5F5F5;
  }

  .custom-radio label {
    font-size: 18rem;
    line-height: 21px;
  }

  .partners {
    display: none;
  }

  .spoiler {
    width: 100%;
  }

  .footer__top>div {
    display: none;
  }

  .footer__get-in-touch {
    display: block !important;
  }

  .footer__bottom span {
    display: none;
  }

  .footer__copyright {
    margin-bottom: 8px;
  }

  .nutrition__days span {
    padding: 3px 11px 6px 9px;
  }

  .privacy-policy h1 {
    padding-top: 40px;
  }
}

@media (max-width: 768px) {
  .custom-radio {
    display: none;
  }

  .custom-select {
    display: block;
  }

  .footer__top .header__logo {
    display: none;
  }

  .footer__get-in-touch {
    text-align: center;
  }

  .footer__soc {
    justify-content: center;
  }

  .carousel-cell {
    height: 480px;
  }

  .carousel__overlay {
    /* background-size: cover; */
    /* justify-content: center; */
  }

  .carousel__img {
    width: 81%;
  }
  .carousel__text {
    font-size: 64px;
    line-height: 75px;
    width: 60%;
    padding-right: 53px;
  }

  .footer__top {
    justify-content: center;
  }
}

@media (max-width: 720px) {
  .carousel-cell {
    height: 274px;
  }
  .carousel__text {
    font-weight: 300;
    font-size: 34px;
    line-height: 40px;
    width: 70%;
    
  }
}
@media (max-width: 411px) {
  .wrapper {
    padding: 0 31px;
  }

  .delivery,
  .payment,
  .faq {
    display: none;
  }

  .carousel__overlay {
    background-size: cover;
    justify-content: center;
  }

  .carousel__text {
    width: 100%;
    padding-right: 53px;
  }

}

@media (max-width: 400px) {
  .wrapper {
    padding: 0 13px;
  }
}

@media (max-width: 370px) {
  .header {
    padding: 39px 15px 15px;
  }
}
