@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?67579294');
  src: url('../font/fontello.eot?67579294#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?67579294') format('woff2'),
       url('../font/fontello.woff?67579294') format('woff'),
       url('../font/fontello.ttf?67579294') format('truetype'),
       url('../font/fontello.svg?67579294#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?67579294#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-adress:before { content: '\e800'; } /* '' */
.icon-today:before { content: '\e801'; } /* '' */
.icon-peoples:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-shape_unactive:before { content: '\e804'; } /* '' */
.icon-close:before { content: '\e805'; } /* '' */
.icon-logo-sidebar:before { content: '\e806'; } /* '' */
.icon-prev:before { content: '\e807'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-book:before { content: '\e80c'; } /* '' */
.icon-login:before { content: '\e80d'; } /* '' */
.icon-calendar:before { content: '\e80e'; } /* '' */
.icon-plan:before { content: '\e80f'; } /* '' */
.icon-main:before { content: '\e810'; } /* '' */
.icon-edit:before { content: '\e811'; } /* '' */
.icon-history:before { content: '\e812'; } /* '' */
.icon-user_outline:before { content: '\e813'; } /* '' */
.icon-exit:before { content: '\e814'; } /* '' */
.icon-100:before { content: '\e815'; } /* '' */
.icon-clock:before { content: '\e816'; } /* '' */
.icon-file:before { content: '\e817'; } /* '' */
.icon-triangle:before { content: '\e818'; } /* '' */
.icon-calendar2:before { content: '\e819'; } /* '' */
.icon-hamb:before { content: '\e822'; } /* '' */
.icon-vector:before { content: '\e82a'; } /* '' */